:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
.big-heading {
  font-size: 100px;
}
.primary-link {
  border: 2px solid rgb(232, 231, 231);
  border-radius: 5px;
  padding: 5px;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: #6c63ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
}
